<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid workBenchView">
  <div class="mdl-cell mdl-cell--12-col">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <div class="headerContainer">
          <h5>Workbench</h5>
          <p>Select a saved patent to open</p>
        </div>
        <div class="mdl-cell mdl-cell--12-col listContainer">
          <ul class="demo-list-two mdl-list">
            {{#each savedPatents}}
              <li class="mdl-list__item mdl-list__item--two-line savedPatent" data-patentId="{{this.patentId}}">
              <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-avatar">lightbulb_outline</i>
                <span>{{this.patentId}}</span>
                <span class="mdl-list__item-sub-title">{{this.patentTitle}}</span>
              </span>
                <span class="mdl-list__item-secondary-content">
                  <span class="mdl-list__item-secondary-action removeSavedPatent" data-idx="{{@index}}"><i class="material-icons">clear</i></span>
                </span>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <div class="headerContainer">
          <h5>Previous Searches</h5>
          <p>Select a search to reload</p>
        </div>
        <div class="mdl-cell mdl-cell--12-col listContainer">
          <ul class="demo-list-two mdl-list">
            {{#each previousSearch}}
              <li class="mdl-list__item mdl-list__item--two-line savedSearch" data-idx="{{@index}}">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-avatar">search</i>
                  <span>{{this.searchText}}</span>
                  <span class="mdl-list__item-sub-title">
                    Subsearch: {{this.s1}} {{this.s2}} {{this.s3}}
                  </span>
                </span>
                <span class="mdl-list__item-secondary-content">
                  <span class="mdl-list__item-secondary-action removeSearch" data-idx="{{@index}}"><i class="material-icons">clear</i></span>
                </span>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
